-- FIX: Agregar política RLS faltante para permitir eliminación de sesiones
-- Ejecutar en Supabase SQL Editor

-- Permitir eliminar sesiones a sus propietarios
CREATE POLICY "Session owners can delete" ON sessions FOR DELETE USING (auth.uid() = created_by);

-- También asegurarnos de que las políticas DELETE estén en las tablas relacionadas
CREATE POLICY "Session owners can delete related scores" ON scores FOR DELETE USING (
  session_id IN (SELECT id FROM sessions WHERE created_by = auth.uid())
);

CREATE POLICY "Session owners can delete related answers" ON answers FOR DELETE USING (
  session_id IN (SELECT id FROM sessions WHERE created_by = auth.uid())
);

CREATE POLICY "Session owners can delete session participants" ON session_participants FOR DELETE USING (
  session_id IN (SELECT id FROM sessions WHERE created_by = auth.uid())
);
